{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
    bundle|clean_class ~ '__' ~ field_name_clean|clean_class
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <h2{{ attributes.addClass(classes) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </h2>
  {% else %}
    {% for item in items %}
      <h2{{ attributes.addClass(classes) }}>{{ item.content }}</h2>
    {% endfor %}
  {% endif %}
{% else %}
  <h2{{ attributes.addClass(classes) }}>
    <strong{{ title_attributes.addClass(title_classes) }}>{{ label }}</strong>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </h2>
{% endif %}
